//npm.pkg.github.com/:_authToken=${NPM_CONFIG_TOKEN}
@gearment:registry=https://npm.pkg.github.com
auto-install-peers = true
#//192.168.150.26:32023/repository/:_auth=YWRtaW46NTIzMTI3
#registry=http://192.168.150.26:32023/repository/gea-npm-proxy